<h1 id="app_title"> Viewing Party </h1>
<section id="user_creation">
<% if session[:user_id] %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= button_to "Create User", register_path, method: :get %>
<% end %>
</section>

<section id="existing_users">
  <% if session[:user_id] %>

        <p>Current Users: </p>
        <% @users.each do |user| %>
            <li> <%= user.email %></li>
        <% end %>


  <% end %>
</section>
