<h1 id="app_title"> Viewing Party </h1>
<section id="user_creation">
<% if session[:user_id] %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= button_to "Create User", register_path, method: :get %>
<% end %>
</section>

<section id="existing_users">
  <p>Current Users:</p>
  <ul>
    <% @users.each do |user| %>
      <li id="user-<%= user.id %>"><%= link_to "#{user.email}'s Dashboard", user_path(user.id) %></li>
    <% end %>
  </ul>
</section>
